OPEN_DATA_511_API_KEY_0="<api-key>"
OPEN_DATA_511_API_KEY_1=""
OPEN_DATA_511_AGENCY_ID="<agency-id>"
OPEN_DATA_511_STOPCODES="<stopcode-0>,<stopcode-1>"

LED_MATRIX_ROWS="<integer>"
LED_MATRIX_COLS="<integer>"
LED_MATRIX_CHAIN_LENGTH="<integer>"
LED_MATRIX_PARALLEL="<integer>"
LED_MATRIX_GPIO_SLOWDOWN="10"
LED_MATRIX_HARDWARE_MAPPING="<hardware-mapping>"
LED_MATRIX_MAX_BRIGHTNESS="<integer>"

REFRESH_API_INTERVAL_SECONDS="62"
REFRESH_DISPLAY_INTERVAL_SECONDS="5"

LINE_REFERENCES=""
LINE_STOPCODES=""
LINE_DISAMBIGUATION_SYMBOLS=""
LINE_ANIMATION_DIRECTIONS=""
LINE_COLORS=""
LINE_REFERENCE_ORDER="LINE_REFERENCE"

FUTURE_STOP_VISITS_SHOWN="2"

ENABLE_DEPARTURE_ANIMATION="1"
PULSE_WINDOW_SECONDS=""
PULSE_FREQUENCY_HZ=""
PULSE_MIN_BRIGHTNESS_PERCENT=""
PULSE_FRAMES_PER_SECOND=""

ARRIVAL_RUN_MINUTES=""
ARRIVAL_LEAVE_NOW_MINUTES=""
ARRIVAL_RUN_COLOR=""
ARRIVAL_LEAVE_NOW_COLOR=""

FONT="5x7.bdf"
FONT_COLOR="<color-string>"
FONT_X_ALIGNMENT="CENTER"
COLOR_LUMINANCE_CAP=""

ENABLE_SUN_BASED_BRIGHTNESS="0"
SUN_BASED_BRIGHTNESS_LAT=""
SUN_BASED_BRIGHTNESS_LNG=""
SUN_BASED_BRIGHTNESS_TZ=""
SUN_DAYLIGHT_OFFSET=""
LED_MATRIX_MIN_BRIGHTNESS=""